<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>com.apple.xcode.lua-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>LuaClass</string>
	<key>Description</key>
	<string>Create a basic lua class for wax.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.lua</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>NSObject</string>
			<key>Description</key>
			<string>A lua subclass of NSObject</string>
			<key>Identifier</key>
			<string>luasubclass</string>
			<key>Name</key>
			<string>Subclass of</string>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>combo</string>
			<key>Values</key>
			<array>
				<string>NSObject</string>
			</array>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
		<string>com.apple.platform.macosx</string>
	</array>
	<key>SortOrder</key>
	<string>1</string>
	<key>Summary</key>
	<string>a lua class</string>
</dict>
</plist>
